<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- https://github.com/highlightjs/highlight.js/blob/main/src/styles/night-owl.css hightlight js 사용 -->
<link rel="stylesheet"
      href="//unpkg.com/@highlightjs/cdn-assets@10.7.2/styles/night-owl.min.css">
<script src="//unpkg.com/@highlightjs/cdn-assets@10.7.2/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<link rel="apple-touch-icon" sizes="180x180" href="/assets/logo.ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/logo.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/logo.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/logo.ico/site.webmanifest">
<link rel="mask-icon" href="/assets/logo.ico/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
