{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky scrollbar__hide" style="-ms-overflow-style: none;">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  
  <!-- 카테고리 갯수 세주고 출력하는 코드 -->
  {% assign categories_max = 0 %}
  {% for category in site.categories %}
    {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
    {% endif %}
  {% endfor %}

  <hr>
  <h3><a href="/categories/"><span style="font-weight: bold;">Categories</span></a></h3>
    <ul class="taxonomy__index__sidebar">
      {% for i in (1..categories_max) reversed %}
        {% for category in site.categories %}
          {% if category[1].size == i %}
            <li>
              <a href="{{ '/categories/#' | append: category[0] | camelcase | downcase | prepend: site.url | replace: ' ', '-' }}">
                {{ category[0] }}&nbsp;&nbsp;<span class="taxonomy__count">{{ i }}</span>
              </a>
            </li>
          {% endif %} 
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
