---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// 배달의민족 주아체 google web font
//@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

// 배달의민족 한나체 air (https://noonnu.cc/font_page/113)
@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 페이북 라이트 글씨체
@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 나눔고딕코딩체
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
}

//D2Coding
@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}